{% extends "layout.html" %}
{%block title%} Cart {%endblock title%}
{% block body%}

	{% if current_user.is_authenticated %}

	<table id="cart" class="table table-hover table-condensed">
			<thead>
				<tr>
					<th style="width:10%">Photo</th>
					<th style="width:60%">Product</th>
					<th style="width:10%">Size</th>
					<th style="width:10%">Price</th>
					<th style="width:5%">Qty</th>
					<th style="width:5%">Delete</th>
	
				</tr>
			</thead>
			{% for items in cartlist %}
			<tbody>
				<tr>
					<td data-th="Photo">
						<img src="{{ items.product.product_image }}" class="item-img img-responsive" />
					</td>
					<td data-th="Product">
						<h6 class="nomargin ml-0">
								<p>{{ items.product.product_name }}</p>
						</h6>          
					</td>
					<td data-th="Size">
						<span class="size">{{ items.product.product_size }}</span>
					</td>
					<td data-th="Price">
						<p>
							<span class="iso">$</span>
							<span class="item-total{{items.id}} item-total">{{items.subtotal}}</span>
						</p>
					</td>
					<td data-th="Qty">
							<!-- <form action="{{url_for('users.quantity_update', id=items.id)}}" class="form-inline" style="padding:0;margin:0;">
								<p>
									<input id="minus-btn" type="button" class="minus-btn{{items.id}} btn btn-sm btn-outline-info" value="-">
									<input type="text" name="quantity" class="qty form-control-sm" id="qty{{items.id}}" value="{{items.quantity}}"
										readonly>
									<input id="plus-btn" type="button" class="plus-btn{{items.id}} 	btn btn-sm btn-outline-info" value="+">
									<span class="times">x</span> <span class="iso">$</span> <span class="item-price{{items.id}}">
										{{ items.product.product_price }}</span>
								</p>
							</form> -->
							<span>{{items.quantity}}</span>
					</td>
		
					<td class="actions" data-th="Delete">
						<a href="{{ url_for('users.remove_item', id=items.id) }}" class=" btn btn-outline-danger btn-sm">x</a>
						<div id="loading{{items.id}}" class="spinner-border spinner-border-sm text-success temp_hidden"
							role="status">
							<span class="sr-only">Loading...</span>
						</div>
						<div id="loading_{{items.id}}" class="spinner-grow spinner-grow-sm text-success temp_hidden"
							role="status">
							<span class="sr-only">Loading...</span>
						</div>
					</td>
				</tr>
			</tbody>
			{% endfor %}
		
			<tfoot>
				<tr class="visible-xs">
					<th colspan="1"><strong></strong></th>
					<th><strong>Subtotal:</strong></th>
					<td class="text-right">$ {{items_subtotals}}</td>
				</tr>
				<tr class="visible-xs">
					<th colspan="1"><strong></strong></th>
					<th><strong>Shipping</strong></th>
					<td class="text-right">$ {{ price }}</td>
				</tr>
				<tr class="visible-xs">
					<th colspan="1"><strong></strong></th>
					<th><strong>Total</strong></th>
					<td class="text-right"><strong>$ {{items_subtotals + price}}</strong></td>
				</tr>
				<tr>
					<td><a href="{{ url_for('home.homepage') }}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
					<td><a href="#" class="btn btn-success" data-toggle="modal"
						data-target="#exampleModalCenter"> Checkout <i class="fa fa-angle-right"></i></a></td>
				</tr>
			</tfoot>
		</table>



				<!-- Modal -->
				<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
					aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalCenterTitle">Select Payment Method</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
								<div class="modal-body">
									<div class="row">
										<div class="col-md-4">
											<!-- FORM METHOD POST PAYMENT SCRIPT -->
										</div>
										<form action="/charge" method="post">
											<article>
												<label>
													<span>Amount is ${{items_subtotals + price}}</span>
												</label>
											</article>
									
											<script src="https://checkout.stripe.com/checkout.js" 
											class="stripe-button" data-key="{{ key }}"
												data-description="A Stripe Charge" 
												data-amount="{{(items_subtotals + price ) * 100}}" 
												data-locale="auto"></script>
										</form>
									</div>

								</div>

						</div>
					</div>
				</div>
	</div>
{% for items in cartlist %}

<!-- PAYMENT SCRIPT -->

	{% endfor %}

{% else %}
		<table id="cart" class="table table-hover table-condensed">
			<thead>
				<tr>
					<th style="width:10%"></th>
					<th style="width:55%">Product</th>
					<th style="width:15%">Price</th>
					<th style="width:5%">Quantity</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>
					<td data-th="Product">
						<div class="row">
		
						</div>
					</td>
					<td data-th="Price">
						<p>
					</td>
		
					<td data-th="Quantity">
					</td>
		
					<td class="actions" data-th="">
					</td>
				</tr>
			</tbody>
		
			<tfoot>
				<tr class="visible-xs">
					<th colspan="1"><strong></strong></th>
					<th><strong>Subtotal</strong></th>
					<td class="text-right">0</td>
				</tr>
				<tr class="visible-xs">
					<th colspan="1"><strong></strong></th>
					<th><strong>Shipping</strong></th>
					<td class="text-right">0</td>
				</tr>
				<tr class="visible-xs">
					<th colspan="1"><strong></strong></th>
					<th><strong>Total</strong></th>
					<td class="text-right"><strong>0</strong></td>
				</tr>
				<tr>
					<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
					<td><a href="#" class="btn btn-success">Checkout <i class="fa fa-angle-right"></i></a></td>
				</tr>
			</tfoot>
		</table>
{% endif %}


{% endblock %}