{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="content-section col-sm-5">
      <!-- <div class="col-6"> -->
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="font-weight: 600">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                
                <p class="text-muted small">
                    {{ form.submit(class="btn btn-outline-info") }}
                    <span class="frgtpswrd" style="float: right; padding-top: .5rem;" >
                    <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                    </span>
                </p>
                <hr>
                <p class="text-muted text-sm-center small">
                    Don't Have An Account? <a class="ml-2" href="{{ url_for('auth.register') }}">Join Now</a>
                
            </div>
        </form>
        <!-- </div> -->
      </div>

{% endblock%}